* {
    box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /*font-family: 'Bad Script';*/
  font-family: 'Caveat'; 
}

@media (min-aspect-ratio: 3 / 4) {
    html, body {
        font-size: calc(1vh * 3 / 4);
        background-color: #f9a;
    }
    #main {
        height: 100%;
    }
}

@media (min-aspect-ratio: 1/2) and (max-aspect-ratio: 3 / 4) {
    html, body {
        font-size: 1vw;
        background-color: #a9f;
    }
    #main {
        height: 100%;
    }
}

@media (max-aspect-ratio: 1 / 2) {
    html, body {
        font-size: 1vw;
        background-color: #9fa;
    }
    #main {
        height: calc(100rem * 2 / 1);
    }
}

html, body {
    margin: 0;
    color: rgb(255,255,255);
    background-color: rgb(0,0,0);
    text-shadow: 0.1rem 0.2rem #272727;
}

#main {
    font-size: 2.5rem;
    width: 100rem;
    background-color: #9af;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

p {
    margin: 0;
}

/* -------------------START--------------------- */

#startpg {
    background: rgb(200, 200, 200) url('purple-bg-shadow.png');
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    height: 100%;
    width: 100%;
    text-align: center;
    overflow: hidden;
    /* padding-bottom: 5em; /* space for the menubar */
    display: flex;
    align-content: space-around;
    justify-content: space-around;
    /*flex-wrap: wrap; */
    position: relative;    
}

@supports (align-content: space-evenly) and (not (-ms-ime-align: auto)) {
    #startpg {
      align-content: space-evenly !important;
      justify-content: space-evenly !important;
    }
  }

#start, #girl, #circle {
   display: flex;
   overflow: hidden;
}

#circle {
    position: absolute;
    width: 45rem;
    top: 10%;
}

#girl {
    padding-left: 8%;
    position: absolute;
    width: 43%;
    top: 7.5%;
}

#girl:hover {
    -webkit-filter: brightness(120%) contrast(1.2);
    filter: brightness(105%) contrast(1.1);
    transform: scale(1.05);
}

#start {
    position: absolute;
    bottom: 9%;    
    width: 35rem;
}

#start:hover {
    -webkit-filter: brightness(120%) contrast(1.2);
    filter: brightness(120%) contrast(1.2);
    transform: scale(1.1);
}

/* -------------------MENU--------------------- */

#menu {
    background: rgb(200, 200, 200);
    height: 100%;
    width: 100%;
    text-align: center;
    overflow: hidden;
    display: flex;
    align-content: space-between;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
}

.topheader {
    width: 100%;
    font-size: 6rem;
    display: flex;
    align-items: center;
    padding: 2rem;
}

.topheader > p {
    margin: 0;
}

#menu-topheader {
    background-color: #c5acd6;
}

#arrow {
    margin-left: 4rem;
    width: 4rem;
}

#arrow:hover, #about:hover, .menubox:hover {
    -webkit-filter: brightness(120%) contrast(1.2);
    filter: brightness(120%) contrast(1.2);
    transform: scale(1.1);
}

#about {
    margin-right: 4rem;
    position: absolute;
    right: 0;
    color:white;
    text-shadow: none;
}

.menubox {
    padding: 6rem 7rem;
    border-radius: 1rem;
    width: 87%;
    height: 27%;
}

.menubox p {
    margin: 0;
    font-size: 5rem;
}

#menu-title {
    font-size: 9rem;
}

#songlistmenu {
    background-color: #482351;
    text-align: left;
    border-left: 2.5rem solid #c5acd6;
}

#progressionmenu {
    background-color: rgb(28, 88, 112);
    text-align: right;
    border-right: 2.5rem solid #c5acd6;
}

#scalesmenu {
    background-color: rgb(151, 81, 0);
    text-align: left;
    border-left: 2.5rem solid #c5acd6;
    margin-bottom: 4rem;
}

/* ---------------SCALES OPTION--------------- */

#scales {
   

    background: rgb(200, 200, 200);
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    position: relative;   
    flex-direction: row;
    justify-content: space-around;
}


#scalemod {
    display: flex;
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 23rem;
    justify-content: space-between;
    align-items: flex-start;
}

#scalemod > div > p {
    text-align: center;
    font-size: 6rem;
    margin: 0;
}

/* ---------------KEY DROPDOWN --------------*/
.key-options-container {
    font-size: 7rem;
    background: rgba(27, 27, 27, 0.7);
    width: 15rem;
    max-height: 0;
    opacity: 0;
    transition: all 0.4s;
    border-radius: 2rem 1rem 1rem 2rem;
    overflow: hidden;
    position: absolute;
    bottom: 14rem;
    z-index: 10;
    padding-left: 1rem;
}

.key-select-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    left: 0;
    right: 0;
}

.key-selected {
    font-size: 8rem;
    width: 15rem;
    background-color:  rgb(151, 81, 0);
    border: 0.1rem solid white;
    border-bottom: none;
    position: absolute;
    z-index: 2;
    height: 15rem;
    bottom: 0;
    border-radius: 100% 100% 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    left: 0;
    right: 0;
    padding-right: 1.5rem;
}

.key-selected::after {
    content: "";

    position: absolute;
    height: 100%;
    transition: all 0.4s;
}

.key-select-box .key-options-container.active {
    max-height: 50rem;
    opacity: 1;
    overflow-y: scroll;
    margin-bottom: 1.5rem;
}

/* FOR MOST BROWSERS */
.key-select-box .key-options-container::-webkit-scrollbar {
    width: 0.5rem;
    background: #0d141f;
    border-radius: 0 1rem 1rem 0;
}

.key-select-box .key-options-container::-webkit-scrollbar-thumb {
    background: #525861;
    border-radius: 2rem;
}

/* FOR FIREFOX */
.key-select-box .key-options-container {
    scrollbar-color: rgb(104, 104, 104) rgb(31, 31, 31);
    scrollbar-width: thin;
}

.key-select-box .key-option, .key-selected {
    cursor: pointer;
}

.key-select-box .key-option:hover {
    cursor: pointer;
    background: #414b57;
}

.key-select-box label {
    cursor: pointer;
}

.key-select-box .key-option .radio {
    display: none;
}

/* ---------------SCALE TYPE DROPDOWN --------------*/
.scale-options-container {
    font-size: 7rem;
    background: rgba(27, 27, 27, 0.7);
    width: 38%;
    max-height: 0;
    opacity: 0;
    transition: all 0.4s;
    border-radius: 2rem 1rem 1rem 2rem;
    overflow: hidden;
    position: absolute;
    bottom: 14rem;
    z-index: 10;
    padding-left: 1rem;
}

.scale-select-box {
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.scale-option {
    border-bottom: 0.05vw dotted white;
    font-size: 6vw
}

.scale-selected {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 50rem 0 0;
    font-size: 6rem;
    left: 0;
    bottom: 0;
    background-color:  rgb(151, 81, 0);
    width: 45%;
    position: absolute;
    height: 15rem;
}

.scale-selected::after {
    content: "";

    position: absolute;
    height: 100%;
    transition: all 0.4s;
}

.scale-select-box .scale-options-container.active {
    max-height: 50rem;
    opacity: 1;
    overflow-y: scroll;
    margin-bottom: 1.5rem;
}

/* FOR MOST BROWSERS */
.scale-select-box .scale-options-container::-webkit-scrollbar {
    width: 0.5rem;
    background: #0d141f;
    border-radius: 0 1rem 1rem 0;
}

.scale-select-box .scale-options-container::-webkit-scrollbar-thumb {
    background: #525861;
    border-radius: 2rem;
}

/* FOR FIREFOX */
.scale-select-box .scale-options-container {
    scrollbar-color: rgb(104, 104, 104) rgb(31, 31, 31);
    scrollbar-width: thin;
}

.scale-select-box .scale-option, .scale-selected {
    cursor: pointer;
}

.scale-select-box .scale-option:hover {
    cursor: pointer;
    background: #414b57;
}

.scale-select-box label {
    cursor: pointer;
}

.scale-select-box .scale-option .radio {
    display: none;
}


/* ---------------MODE DROPDOWN --------------*/
.mode-options-container {
    font-size: 7rem;
    background: rgba(27, 27, 27, 0.7);
    width: 25%;
    max-height: 0;
    opacity: 0;
    transition: all 0.4s;
    border-radius: 2rem 1rem 1rem 2rem;
    overflow: hidden;
    position: absolute;
    bottom: 14rem;
    z-index: 10;
    padding-left: 1rem;
}

.mode-select-box {
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.mode-selected {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50rem 0 0 0;
    font-size: 6rem;
    right: 0;
    bottom: 0;
    background-color:  rgb(151, 81, 0);
    width: 45%;
    position: absolute;
    height: 15rem;
}

.mode-selected::after {
    content: "";

    position: absolute;
    height: 100%;
    transition: all 0.4s;
}

.mode-select-box .mode-options-container.active {
    max-height: 50rem;
    opacity: 1;
    overflow-y: scroll;
    margin-bottom: 1.5rem;
}

/* FOR MOST BROWSERS */
.mode-select-box .mode-options-container::-webkit-scrollbar {
    width: 0.5rem;
    background: #0d141f;
    border-radius: 0 1rem 1rem 0;
}

.mode-select-box .mode-options-container::-webkit-scrollbar-thumb {
    background: #525861;
    border-radius: 2rem;
}

/* FOR FIREFOX */
.mode-select-box .mode-options-container {
    scrollbar-color: rgb(104, 104, 104) rgb(31, 31, 31);
    scrollbar-width: thin;
}

.mode-select-box .mode-option, .mode-selected {
    cursor: pointer;
}

.mode-select-box .mode-option:hover {
    cursor: pointer;
    background: #414b57;
}

.mode-select-box label {
    cursor: pointer;
}

.mode-select-box .mode-option .radio {
    display: none;
}
 /* ----------PICK YOUR SCALE --------------*/

#scaledisplay {
    background-color: rgba(0, 0,0, 0.3);
    border-radius: 5rem;
    font-size: 10rem;
    width: 87%;
    height: 15%;
    margin: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#chordscontainer {
    width: 100%;
    position: relative;
    text-align: left;
    padding: 1.5rem 0rem;
    border-top: 1.5rem solid rgb(151, 81, 0);
}

#scalesmidheader {
    display: flex;
    width: 100%;
    font-size: 6rem;
    padding: 1rem;
}

#add7 {
    margin-right: 5rem;
    transform: scale(2);
  -ms-transform: scale(2);
  -webkit-transform: scale(2);
  -o-transform: scale(2);
  -moz-transform: scale(2);
}

#add7label {
    right: 0;
    font-size: 5rem;
    margin-left: auto;
    padding-right: 2rem;
}

#related-chords {
    font-size: 7rem;
    margin-left: 3rem;
}

#chordsdisplay {
    flex-direction: row;
    justify-content: space-between;
    overflow-y: scroll;
    height: 60%;
}

#chordsdisplay > div {
    flex-direction: row;
    flex-flow: row ;
    background-color: rgba(0, 0, 0, 0.3);
    display: grid;
    font-size: 6rem;
    grid-template-columns: repeat(7, auto);
    grid-template-rows: repeat(2, auto);
    margin: 0 3% 5% 3%;
    border-radius: 5rem;
    padding: 2rem;
    height: 30rem;  
    align-items: center;
}

.name {
    grid-column-start: 1;
    grid-column-end: 8;
}

sup.sev1 {
    font-size: 4rem;
    display: none;
}

sup.sev2 {
    font-size: 4rem;
    display: none;
}

sup.sev3 {
    font-size: 4rem;
    display: none;
}

#scales-topheader {
    background-color:rgb(151, 81, 0);
}

/*-----------------PROGRESSIONS----------------*/
#progressions {
    background: rgb(200, 200, 200);
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    height: 100%;
    width: 100%;
    text-align: center;
    overflow: hidden;
    /* padding-bottom: 5em; /* space for the menubar */
    display: flex;
    flex-wrap: wrap; 
    flex-direction: column;
    /*position: relative; */  
    justify-content: space-between;
}

#progressions-topheader {
    background-color: rgb(28, 88, 112);
}

#prog-bottomheader {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    height: 12rem;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-self: center;
    font-size: 5rem;
}

#title {
    color:white;
    text-shadow: none;
    font-size: 7rem;
    margin-left: 4rem;
}

#presetprogressions {
    background-color:rgb(28, 88, 112);
    position: absolute;
    z-index: 6;
    height: 15rem;
    bottom: 0;
    border-radius: 0 4rem 0 0;
    padding: 0.2rem;
    left: 0;
    width: 45%;
}

#ADD {
    background-color: rgb(28, 88, 112);
    width: 15%;
    position: absolute;
    z-index: 7;
    height: 15rem;
    bottom: 0rem;
    border-radius: 100% 100% 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.1rem solid white;
    border-bottom: none;
}

#myprogressions {
    background-color:rgb(28, 88, 112);
    position: absolute;
    z-index: 6;
    height: 15rem;
    bottom: 0;
    border-radius: 4rem 4rem 0 0;
    padding: 0.2rem;
    right: 0;
    width: 45%;
}

#progList {
    height: 75%;
    overflow-y: scroll;
    margin-bottom: 5rem;
}

#proglistelement {
    background-color:rgba(0, 0, 0, 0.3);
    width: 87%;
    height: 30rem;
    border-radius: 5rem;
    text-align: left;
    font-size: 9rem;
    padding: 2rem;
    left: 0; 
    top: 0;
    bottom: 0;
    right: 0; 
    margin: auto; 
    margin-top: 4rem;
}

#addPage {
    display: none;
    height: 80%;
    width: 95%;
    background: rgba(71, 71, 71, 0.9);
    position: absolute;
    z-index: 6;
    font-size: 6vw;
    left: 0; 
    top: 0;
    bottom: 0;
    right: 0; 
    margin: auto; 
    border-radius: 1rem;
    padding: 4rem;
}

#add-cancel {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #313131;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 10rem;
    border-right: 0.5vw solid white;
    border-radius: 1rem 0 0 1rem;
}

#add-save {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #313131;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 10rem;
    border-left: 0.5vw solid white;
    border-radius: 0 1rem 1rem 0;
}

#add-icon {
    width: 10rem;
}