* {
    box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /*font-family: 'Bad Script';*/
  font-family: 'Caveat'; 
}

html, body {  /* flexbox needs this to center the main div */
    width: 100%;
    height: 100%;
}

body {
    background-color: rgb(0,0,0);
    color: rgb(255,255,255);
    text-shadow: 0.1em 2px #272727;
    font-size: 10px;
    margin: 0;
    display: flex;
    align-items: center;  /* vertically center main div */
    justify-content: center;  /* horizontally center main div */
    overflow: hidden;  /* avoid scrollbars when dragging outside */
}

/* -------------------START--------------------- */

#startpg {
    background: rgb(200, 200, 200) url('purple-bg-shadow.png');;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    height: 64em;
    width: 40em;
    text-align: center;
    overflow: hidden;
    /* padding-bottom: 5em; /* space for the menubar */
    display: flex;
    align-content: space-around;
    justify-content: space-around;
    /*flex-wrap: wrap; */
    position: relative;    
}

@supports (align-content: space-evenly) and (not (-ms-ime-align: auto)) {
    #startpg {
      align-content: space-evenly !important;
      justify-content: space-evenly !important;
    }
  }

#start, #girl, #circle {
   display: flex;
   overflow: hidden;
}

#circle {
    position: absolute;
    width: 18em;
    top: 6em;
}

#girl {
    padding-left: 3em;
    position: absolute;
    width: 17em;
    top: 4em;
}

#girl:hover {
    -webkit-filter: brightness(120%) contrast(1.2);
    filter: brightness(105%) contrast(1.1);
    transform: scale(1.05);
}

#start {
    position: absolute;
    bottom: 5em;    
    width: 15em;
}

#start:hover {
    -webkit-filter: brightness(120%) contrast(1.2);
    filter: brightness(120%) contrast(1.2);
    transform: scale(1.1);
}

/* -------------------MENU--------------------- */

#menu {
    background: rgb(200, 200, 200);
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    height: 64em;
    width: 40em;
    text-align: center;
    overflow: hidden;
    display: flex;
    align-content: space-around;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;   
}

#arrow {
    position: absolute;
    top: 1.5em;
    left: 1.5em;
    margin-bottom: 2em;
}

#arrow:hover {
    -webkit-filter: brightness(120%) contrast(1.2);
    filter: brightness(120%) contrast(1.2);
    transform: scale(1.1);
}


#about {
    margin-top: 0.5em;
    margin-right: 1em;
    position: absolute;
    top: 0;
    right: 0;
    color: black;
    font-size: 2em;
    margin-bottom: 2em;
    text-shadow: none;
}

#about:hover {
    -webkit-filter: brightness(120%) contrast(1.2);
    filter: brightness(120%) contrast(1.2);
    transform: scale(1.1);
}

.menubox p {
    margin: 0em;
    font-size: 3em;
}

.menubox {

    padding: 3em;
    border-radius: 10px;
    width: 87%;
    height: 27%;
    top: 2em;;
}

.menubox:hover {
    -webkit-filter: brightness(120%) contrast(1.2);
    filter: brightness(120%) contrast(1.2);
    transform: scale(1.1);
}

.menubox p{
    font-size: 2em;
    margin: 0;
}

#menu-title {
    font-size: 2em;
}

#songlistmenu {
    background-color: #482351;
    text-align: left;
    border-left: 1em solid #c5acd6;
    margin-bottom: 2em;
    margin-top: 5em;
}

#progressionmenu {
    background-color: rgb(28, 88, 112);
    text-align: right;
    border-right: 1em solid #c5acd6;
    margin-bottom: 2em;
}

#scalesmenu {
    background-color: rgb(151, 81, 0);
    text-align: left;
    border-left: 1em solid #c5acd6;
    margin-bottom: 4em;
}

/* ---------------SCALES OPTION--------------- */

#scales {
    background: rgb(200, 200, 200);
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    height: 64em;
    width: 40em;
    text-align: center;
    overflow: hidden;
    display: flex;
    align-content: space-around;
    justify-content: space-evenly;
    flex-wrap: wrap;
    position: relative;
    color: rgb(255, 255, 255);
    box-sizing: border-box;

    flex-flow: column wrap;
}

#scales > div {
    background-color: rgba(61, 30, 17, 0.6);
    width: 87%;
    justify-content: space-around;
    align-self: center;
}
#scales >#scalemod {
    width: 80%;
}

#scalemod {
    display: flex;
    flex-flow: row nowrap;
    border-radius: 0px 15px;
}

#scalemod > div > p {
    text-align: left;
    font-size: 2.6em;
    margin: 0;
}

/* ---------------KEY DROPDOWN --------------*/
.key-select-box .key-options-container {
    font-size: 2em;
    /* color of the dropdown here */
    background: #272727;
    max-height: 0;
    opacity: 0;
    transition: all 0.4s;
    border-radius: 8px 6px 6px 8px;
    overflow: hidden;
}

.key-selected {
    width: 2.5em;
    font-size: 2em;
    text-align: center;
    padding-right: 0.6em;
    background: #272727;
    border-radius: 8px;
    position: relative;
    margin-bottom: 0.2em;
}

.key-selected::after {
    content: "";
    background: url("downarrow.png");
    background-size: contain;
    background-repeat: no-repeat;

    position: absolute;
    height: 100%;
    width: 0.5em;
    top: 0.5em;
    right: 0.2em;
    transition: all 0.4s;
}

.key-select-box .key-options-container.active {
    max-height: 5em;
    opacity: 1;
    overflow-y: scroll;
    margin-bottom: 0.5em;
}

.key-elect-box .key-options-container.active + .key-selected::after {
    transform: rotateX(180deg);
    top: -6px;
}

/* FOR MOST BROWSERS */
.key-select-box .key-options-container::-webkit-scrollbar {
    width: 0.5em;
    background: #0d141f;
    border-radius: 0 10px 10px 0;
}

.key-select-box .key-options-container::-webkit-scrollbar-thumb {
    background: #525861;
    border-radius: 8px;
}

/* FOR FIREFOX */
.key-select-box .key-options-container {
    scrollbar-color: rgb(104, 104, 104) rgb(31, 31, 31);
    scrollbar-width: thin;
}

.key-select-box .key-option, .key-selected {
    cursor: pointer;
}

.key-select-box .key-option:hover {
    cursor: pointer;
    background: #414b57;
}

.key-select-box label {
    cursor: pointer;
}

.key-select-box .key-option .radio {
    display: none;
}

/* ---------------SCALE TYPE DROPDOWN --------------*/
.scale-select-box .scale-options-container {
    font-size: 2em;
    /* color of the dropdown here */
    background: #272727;
    max-height: 0;
    opacity: 0;
    transition: all 0.4s;
    border-radius: 8px 6px 6px 8px;
    overflow: hidden;
}

.scale-selected {
    width: 8em;
    font-size: 2em;
    text-align: center;
    padding-right: 0.6em;
    background: #272727;
    border-radius: 8px;
    position: relative;
    margin-bottom: 0.2em;
}

.scale-selected::after {
    content: "";
    background: url("downarrow.png");
    background-size: contain;
    background-repeat: no-repeat;

    position: absolute;
    height: 100%;
    width: 0.5em;
    top: 0.5em;
    right: 0.2em;
    transition: all 0.4s;
}

.scale-select-box .scale-options-container.active {
    max-height: 5em;
    opacity: 1;
    overflow-y: scroll;
    margin-bottom: 0.5em;
}

.scale-select-box .scale-options-container.active + .scale-selected::after {
    transform: rotateX(180deg);
    top: -6px;
}

/* FOR MOST BROWSERS */
.scale-select-box .scale-options-container::-webkit-scrollbar {
    width: 0.5em;
    background: #0d141f;
    border-radius: 0 10px 10px 0;
}

.scale-select-box .scale-options-container::-webkit-scrollbar-thumb {
    background: #525861;
    border-radius: 8px;
}

/* FOR FIREFOX */
.scale-select-box .scale-options-container {
    scrollbar-color: rgb(104, 104, 104) rgb(31, 31, 31);
    scrollbar-width: thin;
}

.scale-select-box .scale-option, .scale-selected {
    cursor: pointer;
}

.scale-select-box .scale-option:hover {
    cursor: pointer;
    background: #414b57;
}

.scale-select-box label {
    cursor: pointer;
}

.scale-select-box .scale-option .radio {
    display: none;
}


/* ---------------MODE DROPDOWN --------------*/
.mode-select-box .mode-options-container {
    font-size: 2em;
    /* color of the dropdown here */
    background: #272727;
    max-height: 0;
    opacity: 0;
    transition: all 0.4s;
    border-radius: 8px 6px 6px 8px;
    overflow: hidden;
}

.mode-selected {
    width: 4em;
    font-size: 2em;
    text-align: center;
    padding-right: 0.6em;
    background: #272727;
    border-radius: 8px;
    position: relative;
    margin-bottom: 0.2em;
}

.mode-selected::after {
    content: "";
    background: url("downarrow.png");
    background-size: contain;
    background-repeat: no-repeat;

    position: absolute;
    height: 100%;
    width: 0.5em;
    top: 0.5em;
    right: 0.2em;
    transition: all 0.4s;
}

.mode-select-box .mode-options-container.active {
    max-height: 5em;
    opacity: 1;
    overflow-y: scroll;
    margin-bottom: 0.5em;
}

.mode-select-box .mode-options-container.active + .mode-selected::after {
    transform: rotateX(180deg);
    top: -6px;
}

/* FOR MOST BROWSERS */
.mode-select-box .mode-options-container::-webkit-scrollbar {
    width: 0.5em;
    background: #0d141f;
    border-radius: 0 10px 10px 0;
}

.mode-select-box .mode-options-container::-webkit-scrollbar-thumb {
    background: #525861;
    border-radius: 8px;
}

/* FOR FIREFOX */
.mode-select-box .mode-options-container {
    scrollbar-color: rgb(104, 104, 104) rgb(31, 31, 31);
    scrollbar-width: thin;
}

.mode-select-box .mode-option, .mode-selected {
    cursor: pointer;
}

.mode-select-box .mode-option:hover {
    cursor: pointer;
    background: #414b57;
}

.mode-select-box label {
    cursor: pointer;
}

.mode-select-box .mode-option .radio {
    display: none;
}
 /* ----------PICK YOUR SCALE --------------*/

#pickyourscale {
    margin-top: 3em;
    text-align: left;
    padding: 0em 2em;
    border-left: 1em solid rgb(206, 110, 0);
    border-radius: 10px;
}

#pick-scale {
    font-size: 3.5em;
    margin-bottom: 0.7em;
}

#scaledisplay {
    font-size: 4em;
    text-align: center;
}

#chords3 {
    text-align: left;
    padding: 1.5em 0em;
    border-left: 1em solid rgb(206, 110, 0);
    border-radius: 10px;
    
}

#chords3 > p {
    margin: 0em 1em;
}

#related-chords {
    font-size: 3.5em;
}


#chordsdisplay {
    display: grid;
    grid-gap: 0em;
    padding: 0.5em 0.5em;
    grid-template-columns:  4em repeat(7, 2em);
    grid-template-rows: repeat(4, 2em);
    font-size: 1.7em;
    flex-direction: row;
    flex-flow: row ;
}

