* {
    box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /*font-family: 'Bad Script';*/
  font-family: 'Caveat'; 
}

html, body {  /* flexbox needs this to center the main div */
    width: 100%;
    height: 100%;
}

body {
    background-color: rgb(0,0,0);
    color: rgb(255,255,255);
    text-shadow: 0.1rem 2px #272727;
    font-size: 10px;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;  /* vertically center main div */
    justify-content: center;  /* horizontally center main div */
    overflow: hidden;  /* avoid scrollbars when dragging outside */
}

/* -------------------START--------------------- */

#startpg {
    background: rgb(200, 200, 200) url('purple-bg-shadow.png');
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    height: 64rem;
    width: 40rem;
    text-align: center;
    overflow: hidden;
    /* padding-bottom: 5em; /* space for the menubar */
    display: flex;
    align-content: space-around;
    justify-content: space-around;
    /*flex-wrap: wrap; */
    position: relative;    
}

@supports (align-content: space-evenly) and (not (-ms-ime-align: auto)) {
    #startpg {
      align-content: space-evenly !important;
      justify-content: space-evenly !important;
    }
  }

#start, #girl, #circle {
   display: flex;
   overflow: hidden;
}

#circle {
    position: absolute;
    width: 18rem;
    top: 6rem;
}

#girl {
    padding-left: 3rem;
    position: absolute;
    width: 17rem;
    top: 4rem;
}

#girl:hover {
    -webkit-filter: brightness(120%) contrast(1.2);
    filter: brightness(105%) contrast(1.1);
    transform: scale(1.05);
}

#start {
    position: absolute;
    bottom: 5rem;    
    width: 15rem;
}

#start:hover {
    -webkit-filter: brightness(120%) contrast(1.2);
    filter: brightness(120%) contrast(1.2);
    transform: scale(1.1);
}

/* -------------------MENU--------------------- */

#menu {
    background: rgb(200, 200, 200);
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    height: 100%;
    width: 100%;
    max-height: 64rem;
    max-width: 40rem;
    min-height: 32rem;
    min-width: 20rem;
    text-align: center;
    overflow: hidden;
    display: flex;
    align-content: space-between;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;   
    flex-direction: row;
}

#arrow {
    margin: 1.2rem;
    margin-left: 1.5rem;
}

#arrow:hover {
    -webkit-filter: brightness(120%) contrast(1.2);
    filter: brightness(120%) contrast(1.2);
    transform: scale(1.1);
}


#about {
    position: absolute;
    margin-right: 1.5rem;
    margin-top: 1.3rem;
    right: 0;
    color:white;
    text-shadow: none;
}

#about:hover {
    -webkit-filter: brightness(120%) contrast(1.2);
    filter: brightness(120%) contrast(1.2);
    transform: scale(1.1);
}

.menubox p {
    margin: 0rem;
    font-size: 2rem;
}

.menubox {
    padding: 3rem 2rem;
    border-radius: 1rem;
    width: 87%;
    height: 27%;
}

.menubox:hover {
    -webkit-filter: brightness(120%) contrast(1.2);
    filter: brightness(120%) contrast(1.2);
    transform: scale(1.1);
}

#menu-title {
    font-size: 3rem;
}

#songlistmenu {
    background-color: #482351;
    text-align: left;
    border-left: 1rem solid #c5acd6;
}

#progressionmenu {
    background-color: rgb(28, 88, 112);
    text-align: right;
    border-right: 1rem solid #c5acd6;
}

#scalesmenu {
    background-color: rgb(151, 81, 0);
    text-align: left;
    border-left: 1rem solid #c5acd6;
    margin-bottom: 2rem;
}

/* ---------------SCALES OPTION--------------- */

#scales {
   

    background: rgb(200, 200, 200);
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    height: 100%;
    width: 100%;
    max-height: 64rem;
    max-width: 40rem;
    min-height: 32rem;
    min-width: 20rem;
    text-align: center;
    overflow: hidden;
    display: flex;
    align-content: space-between;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;   
    flex-direction: row;

    justify-content: space-around;
    align-self: center;
}


#scalemod {
    display: flex;
    flex-flow: row nowrap;
    background-color: rgb(206, 110, 0);
    width: 100%;
    justify-content: space-around;
}

#scalemod > div > p {
    text-align: center;
    font-size: 2.6rem;
    margin: 0;
}

/* ---------------KEY DROPDOWN --------------*/
.key-select-box .key-options-container {
    font-size: 2rem;
    /* color of the dropdown here */
    background: rgba(27, 27, 27, 0.7);
    max-height: 0;
    width: 4rem;
    opacity: 0;
    transition: all 0.4s;
    border-radius: 8px 6px 6px 8px;
    overflow: hidden;
    position: absolute;
    bottom: 3rem;
    z-index: 10;
}

.key-selected {
    
    border: 0.05rem solid  white;
    width: 4rem;
    font-size: 2.5rem;
    text-align: center;
    padding-right: 0.8rem;
    border-radius: 1.5rem;
    position: relative;
    margin-bottom: 1rem;
}

.key-selected::after {
    content: "";

    position: absolute;
    height: 100%;
    width: 1rem;
    top: 1rem;
    right: 0.2rem;
    transition: all 0.4s;
}

.key-select-box .key-options-container.active {
    max-height: 15rem;
    opacity: 1;
    overflow-y: scroll;
    margin-bottom: 1.5rem;
}

.key-elect-box .key-options-container.active + .key-selected::after {
    transform: rotateX(180deg);
    top: -6px;
}

/* FOR MOST BROWSERS */
.key-select-box .key-options-container::-webkit-scrollbar {
    width: 0.5rem;
    background: #0d141f;
    border-radius: 0 10px 10px 0;
}

.key-select-box .key-options-container::-webkit-scrollbar-thumb {
    background: #525861;
    border-radius: 8px;
}

/* FOR FIREFOX */
.key-select-box .key-options-container {
    scrollbar-color: rgb(104, 104, 104) rgb(31, 31, 31);
    scrollbar-width: thin;
}

.key-select-box .key-option, .key-selected {
    cursor: pointer;
}

.key-select-box .key-option:hover {
    cursor: pointer;
    background: #414b57;
}

.key-select-box label {
    cursor: pointer;
}

.key-select-box .key-option .radio {
    display: none;
}

/* ---------------SCALE TYPE DROPDOWN --------------*/
.scale-select-box .scale-options-container {
    font-size: 2rem;
    /* color of the dropdown here */
    background: rgba(27, 27, 27, 0.7);
    max-height: 0;
    width: auto;
    opacity: 0;
    transition: all 0.4s;
    border-radius: 8px 6px 6px 8px;
    overflow: hidden;
    position: absolute;
    bottom: 3rem;
    z-index: 10;
    left: 10rem;
    right: 10rem;
}

.scale-selected {
    width: auto;
    font-size: 2.5rem;
    text-align: center;
    border: 0.05rem solid  white;
    padding-right: 0.6rem;
    border-radius: 1rem;
    position: relative;
    margin-bottom: 0.2em;
}

.scale-selected::after {
    content: "";

    position: absolute;
    height: 100%;
    width: 0.5rem;
    top: 0.5rem;
    right: 0.2rem;
    transition: all 0.4s;
}

.scale-select-box .scale-options-container.active {
    max-height: 15rem;
    opacity: 1;
    overflow-y: scroll;
    margin-bottom: 1.5rem;
}

.scale-select-box .scale-options-container.active + .scale-selected::after {
    transform: rotateX(180deg);
    top: -0.5rem;
}

/* FOR MOST BROWSERS */
.scale-select-box .scale-options-container::-webkit-scrollbar {
    width: 0.5rem;
    background: #0d141f;
    border-radius: 0 10px 10px 0;
}

.scale-select-box .scale-options-container::-webkit-scrollbar-thumb {
    background: #525861;
    border-radius: 8px;
}

/* FOR FIREFOX */
.scale-select-box .scale-options-container {
    scrollbar-color: rgb(104, 104, 104) rgb(31, 31, 31);
    scrollbar-width: thin;
}

.scale-select-box .scale-option, .scale-selected {
    cursor: pointer;
}

.scale-select-box .scale-option:hover {
    cursor: pointer;
    background: #414b57;
}

.scale-select-box label {
    cursor: pointer;
}

.scale-select-box .scale-option .radio {
    display: none;
}


/* ---------------MODE DROPDOWN --------------*/
.mode-select-box .mode-options-container {
    font-size: 2rem;
    /* color of the dropdown here */
    background: rgba(27, 27, 27, 0.7);
    max-height: 0;
    width: 4rem;
    opacity: 0;
    transition: all 0.4s;
    border-radius: 8px 6px 6px 8px;
    overflow: hidden;
    position: absolute;
    bottom: 3rem;
    z-index: 10;
}

.mode-selected {
    width: 4rem;
    font-size: 2rem;
    text-align: center;
    padding-right: 0.6rem;
    background: #272727;
    border-radius: 8px;
    position: relative;
    margin-bottom: 0.2rem;
}

.mode-selected::after {
    content: "";
    background: url("downarrow.png");
    background-size: contain;
    background-repeat: no-repeat;

    position: absolute;
    height: 100%;
    width: 0.5rem;
    top: 0.5rem;
    right: 0.2rem;
    transition: all 0.4s;
}

.mode-select-box .mode-options-container.active {
    max-height: 15rem;
    opacity: 1;
    overflow-y: scroll;
    margin-bottom: 1.5rem;
}

.mode-select-box .mode-options-container.active + .mode-selected::after {
    transform: rotateX(180deg);
    top: -6px;
}

/* FOR MOST BROWSERS */
.mode-select-box .mode-options-container::-webkit-scrollbar {
    width: 0.5rem;
    background: #0d141f;
    border-radius: 0 10px 10px 0;
}

.mode-select-box .mode-options-container::-webkit-scrollbar-thumb {
    background: #525861;
    border-radius: 8px;
}

/* FOR FIREFOX */
.mode-select-box .mode-options-container {
    scrollbar-color: rgb(104, 104, 104) rgb(31, 31, 31);
    scrollbar-width: thin;
}

.mode-select-box .mode-option, .mode-selected {
    cursor: pointer;
}

.mode-select-box .mode-option:hover {
    cursor: pointer;
    background: #414b57;
}

.mode-select-box label {
    cursor: pointer;
}

.mode-select-box .mode-option .radio {
    display: none;
}
 /* ----------PICK YOUR SCALE --------------*/

#scaledisplay {
    background-color: rgba(0, 0,0, 0.3);
    padding: 0rem 2rem;
    border-radius: 2rem;
    font-size: 4.2rem;
    text-align: center;
    width: 87%;
    height: 7rem;
}

#scales > #chords3 {
    width: 100%;
    position: relative;
    text-align: left;
    padding: 1.5rem 0rem;
    /*border-left: 1em solid rgb(206, 110, 0);
    border-radius: 10px;*/
    border-top: 0.5rem solid rgb(206, 110, 0);
}

#chords3 > p {
    margin: 0rem 1rem;
}

#add7 {
    position: absolute;
    right: 1rem;
    top: 1rem;
    transform: scale(2);
  -ms-transform: scale(2);
  -webkit-transform: scale(2);
  -o-transform: scale(2);
  -moz-transform: scale(2);
}

#add7label {
    position: absolute;
    right: 2rem;
    top: 0.5rem;
    font-size: 2rem;
}

#related-chords {
    font-size: 3.5rem;
}


#chordsdisplay {
    display: grid;
    grid-gap: 0rem;
    padding: 0.5rem 0.5rem;
    grid-template-columns:  4rem repeat(7, auto);
    grid-template-rows: repeat(4, 2rem);
    font-size: 1.7rem;
    flex-direction: row;
    flex-flow: row ;
}

sup.sev1 {
    font-size: small;
    display: none;
}

sup.sev2 {
    font-size: small;
    display: none;
}

sup.sev3 {
    font-size: small;
    display: none;
}

/*-----------------PROGRESSIONS----------------*/
#progressions {
    background: rgb(200, 200, 200);
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    height: 100%;
    width: 100%;
    max-height: 64rem;
    max-width: 40rem;
    min-height: 32rem;
    min-width: 20rem;
    text-align: center;
    overflow: hidden;
    /* padding-bottom: 5em; /* space for the menubar */
    display: flex;
    flex-wrap: wrap; 
    flex-direction: column;
    /*position: relative; */  
    justify-content: space-between;
}

.topheader {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    height: 5rem;
    width: 100%;
    display: flex;
    justify-content:left;
    font-size: 2rem;
}

#progressions-topheader {
    background-color: rgb(28, 88, 112);
}

#menu-topheader {
    background-color: #c5acd6;
}

#scales-topheader {
    background-color: rgb(206, 110, 0);
}

#bottomheader {
    background:  url('progressions-bottom.svg');
    background-repeat: no-repeat;
    background-position: center top; 
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    height: 7rem;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-self: center;
    font-size: 2rem;
    margin-top: 3rem;
}

#title {
    margin:1rem;
    margin-top: 0.6rem;
    position: relative;
    color:white;
    text-shadow: none;
    font-size: 3rem;
}

#presetprogressions {
    position: relative;
    background-color: #482351;
    opacity: 80%;
    border-radius: 10rem;
    z-index: 6;
    height: 5rem;
    margin-bottom: 2rem;
    
    border-radius: 100%;
    margin-bottom: 2rem;
    padding: 0.5rem;
}

#ADD {
    background-color: #482351;
    border-radius: 50%;
    margin-bottom: 2rem;
    padding: 0.5rem;
    height: 5rem;
    width: 5rem;
}

#myprogressions {
    background-color: rgb(151, 81, 0);
    opacity: 80%;
    
    border-radius: 50%;
    margin-bottom: 2rem;
    padding: 0.5rem;
}

#progList {
    overflow-y: auto;
    height: 48rem;
}

#proglistelement {
    background-color:rgba(0, 0, 0, 0.3);
    
    margin: 1rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    height: 12rem;
    border-radius: 3rem;

    text-align: left;
    font-size: 3rem;
    
}
