* {
    box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /*font-family: 'Bad Script';*/
  font-family: 'Caveat'; 
}

html, body {  /* flexbox needs this to center the main div */
    width: 100%;
    height: 100%;
}

body {
    background-color: rgb(0,0,0);
    color: rgb(255,255,255);
    text-shadow: 0.1rem 2px #272727;
    font-size: 10px;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;  /* vertically center main div */
    justify-content: center;  /* horizontally center main div */
    overflow: hidden;  /* avoid scrollbars when dragging outside */
}

/* -------------------START--------------------- */

#startpg {
    background: rgb(200, 200, 200) url('purple-bg-shadow.png');
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    height: 100%;
    width: 100%;
    max-height: 64rem;
    max-width: 40rem;
    min-height: 32rem;
    min-width: 20rem;
    text-align: center;
    overflow: hidden;
    /* padding-bottom: 5em; /* space for the menubar */
    display: flex;
    align-content: space-around;
    justify-content: space-around;
    /*flex-wrap: wrap; */
    position: relative;    
}

@supports (align-content: space-evenly) and (not (-ms-ime-align: auto)) {
    #startpg {
      align-content: space-evenly !important;
      justify-content: space-evenly !important;
    }
  }

#start, #girl, #circle {
   display: flex;
   overflow: hidden;
}

#circle {
    position: absolute;
    width: 45%;
    top: 10%;
}

#girl {
    padding-left: 8%;
    position: absolute;
    width: 43%;
    top: 7.5%;
}

#girl:hover {
    -webkit-filter: brightness(120%) contrast(1.2);
    filter: brightness(105%) contrast(1.1);
    transform: scale(1.05);
}

#start {
    position: absolute;
    bottom: 10vh;    
    width: 30%;
}

#start:hover {
    -webkit-filter: brightness(120%) contrast(1.2);
    filter: brightness(120%) contrast(1.2);
    transform: scale(1.1);
}

/* -------------------MENU--------------------- */

#menu {
    background: rgb(200, 200, 200);
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    height: 100%;
    width: 100%;
    max-height: 64rem;
    max-width: 40rem;
    min-height: 32rem;
    min-width: 20rem;
    text-align: center;
    overflow: hidden;
    display: flex;
    align-content: space-between;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;   
    flex-direction: row;
}

#arrow {
    margin: 2%;
    margin-left: 5%;
}

#arrow:hover {
    -webkit-filter: brightness(120%) contrast(1.2);
    filter: brightness(120%) contrast(1.2);
    transform: scale(1.1);
}


#about {
    position: absolute;
    margin-right: 5%;
    margin-top: 1.5vh;
    right: 0;
    color:white;
    text-shadow: none;
}

#about:hover {
    -webkit-filter: brightness(120%) contrast(1.2);
    filter: brightness(120%) contrast(1.2);
    transform: scale(1.1);
}

.menubox p {
    margin: 0;
    font-size:  3vh;
}

.menubox {
    padding: 5% 6%;
    border-radius: 1rem;
    width: 87%;
    height: 27%;
}

.menubox:hover {
    -webkit-filter: brightness(120%) contrast(1.2);
    filter: brightness(120%) contrast(1.2);
    transform: scale(1.1);
}

#menu-title {
    font-size: 5vh;
}

#songlistmenu {
    background-color: #482351;
    text-align: left;
    border-left: 1rem solid #c5acd6;
}

#progressionmenu {
    background-color: rgb(28, 88, 112);
    text-align: right;
    border-right: 1rem solid #c5acd6;
}

#scalesmenu {
    background-color: rgb(151, 81, 0);
    text-align: left;
    border-left: 1rem solid #c5acd6;
    margin-bottom: 2rem;
}

/* ---------------SCALES OPTION--------------- */

#scales {
   

    background: rgb(200, 200, 200);
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    height: 100%;
    width: 100%;
    max-height: 64rem;
    max-width: 40rem;
    min-height: 32rem;
    min-width: 20rem;
    text-align: center;
    overflow: hidden;
    display: flex;
    align-content: space-between;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;   
    flex-direction: row;

    justify-content: space-around;
    align-self: center;
}


#scalemod {
    display: flex;
    flex-flow: row nowrap;
    background-color: rgb(206, 110, 0);
    width: 100%;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
    height: 15%;
}

#scalemod > div > p {
    text-align: center;
    font-size: 6vw;
    margin: 0;
}

/* ---------------KEY DROPDOWN --------------*/
.key-options-container {
    font-size: 7vw;
    /* color of the dropdown here */
    background: rgba(27, 27, 27, 0.7);
    max-height: 0;
    width: 20%;
    opacity: 0;
    transition: all 0.4s;
    border-radius: 8px 6px 6px 8px;
    overflow: hidden;
    position: absolute;
    bottom: 7vh;
    z-index: 10;
}

.key-select-box {
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.key-selected {
    
    border: 0.05rem solid white;
    font-size: 7vw;
    padding: 0 3vw 0 2vw;
    border-radius: 1.5rem;
    margin-bottom: 1vh;
}

.key-selected::after {
    content: "";

    position: absolute;
    height: 100%;
    transition: all 0.4s;
}

.key-select-box .key-options-container.active {
    max-height: 35vh;
    opacity: 1;
    overflow-y: scroll;
    margin-bottom: 1.5rem;
}

/* FOR MOST BROWSERS */
.key-select-box .key-options-container::-webkit-scrollbar {
    width: 0.5rem;
    background: #0d141f;
    border-radius: 0 10px 10px 0;
}

.key-select-box .key-options-container::-webkit-scrollbar-thumb {
    background: #525861;
    border-radius: 8px;
}

/* FOR FIREFOX */
.key-select-box .key-options-container {
    scrollbar-color: rgb(104, 104, 104) rgb(31, 31, 31);
    scrollbar-width: thin;
}

.key-select-box .key-option, .key-selected {
    cursor: pointer;
}

.key-select-box .key-option:hover {
    cursor: pointer;
    background: #414b57;
}

.key-select-box label {
    cursor: pointer;
}

.key-select-box .key-option .radio {
    display: none;
}

/* ---------------SCALE TYPE DROPDOWN --------------*/
.scale-options-container {
    font-size: 7vw;
    /* color of the dropdown here */
    background: rgba(27, 27, 27, 0.7);
    max-height: 0;
    width: 40%;
    opacity: 0;
    transition: all 0.4s;
    border-radius: 8px 6px 6px 8px;
    overflow: hidden;
    position: absolute;
    bottom: 6vh;
    z-index: 10;
}

.scale-select-box {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.scale-option {
    border-bottom: 0.05vw dotted white;
    font-size: 6vw
}

.scale-selected {
    border: 0.05rem solid white;
    font-size: 7vw;
    padding: 0 2vw;
    border-radius: 1.5rem;
    margin-bottom: 1vh;
}

.scale-selected::after {
    content: "";

    position: absolute;
    height: 100%;
    transition: all 0.4s;
}

.scale-select-box .scale-options-container.active {
    max-height: 35vh;
    opacity: 1;
    overflow-y: scroll;
    margin-bottom: 1.5rem;
}

/* FOR MOST BROWSERS */
.scale-select-box .scale-options-container::-webkit-scrollbar {
    width: 0.5rem;
    background: #0d141f;
    border-radius: 0 10px 10px 0;
}

.scale-select-box .scale-options-container::-webkit-scrollbar-thumb {
    background: #525861;
    border-radius: 8px;
}

/* FOR FIREFOX */
.scale-select-box .scale-options-container {
    scrollbar-color: rgb(104, 104, 104) rgb(31, 31, 31);
    scrollbar-width: thin;
}

.scale-select-box .scale-option, .scale-selected {
    cursor: pointer;
}

.scale-select-box .scale-option:hover {
    cursor: pointer;
    background: #414b57;
}

.scale-select-box label {
    cursor: pointer;
}

.scale-select-box .scale-option .radio {
    display: none;
}


/* ---------------MODE DROPDOWN --------------*/
.mode-options-container {
    font-size: 6vw;
    /* color of the dropdown here */
    background: rgba(27, 27, 27, 0.7);
    max-height: 0;
    width: 25%;
    opacity: 0;
    transition: all 0.4s;
    border-radius: 8px 6px 6px 8px;
    overflow: hidden;
    position: absolute;
    bottom: 6vh;
    z-index: 10;
}

.mode-select-box {
    width: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.mode-selected {
    border: 0.05rem solid  white;
    width: 4rem;
    font-size: 8vw;
    text-align: center;
    padding-right: 0.8rem;
    border-radius: 1.5rem;
    position: relative;
    margin-bottom: 1rem;
}

.mode-selected::after {
    content: "";

    position: absolute;
    height: 100%;
    transition: all 0.4s;
}

.mode-select-box .mode-options-container.active {
    max-height: 35vh;
    opacity: 1;
    overflow-y: scroll;
    margin-bottom: 1.5rem;
}

/* FOR MOST BROWSERS */
.mode-select-box .mode-options-container::-webkit-scrollbar {
    width: 0.5rem;
    background: #0d141f;
    border-radius: 0 10px 10px 0;
}

.mode-select-box .mode-options-container::-webkit-scrollbar-thumb {
    background: #525861;
    border-radius: 8px;
}

/* FOR FIREFOX */
.mode-select-box .mode-options-container {
    scrollbar-color: rgb(104, 104, 104) rgb(31, 31, 31);
    scrollbar-width: thin;
}

.mode-select-box .mode-option, .mode-selected {
    cursor: pointer;
}

.mode-select-box .mode-option:hover {
    cursor: pointer;
    background: #414b57;
}

.mode-select-box label {
    cursor: pointer;
}

.mode-select-box .mode-option .radio {
    display: none;
}
 /* ----------PICK YOUR SCALE --------------*/

#scaledisplay {
    background-color: rgba(0, 0,0, 0.3);
    border-radius: 2rem;
    font-size: 9vw;
    width: 87%;
    height: 15%;
    margin: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#chordscontainer {
    width: 100%;
    position: relative;
    text-align: left;
    padding: 1.5rem 0rem;
    border-top: 0.5rem solid rgb(206, 110, 0);
}

#scalesmidheader {
    height: 5%;
}

#add7 {
    position: absolute;
    right: 3vw;
    top: 2.5vh;
    transform: scale(2);
  -ms-transform: scale(2);
  -webkit-transform: scale(2);
  -o-transform: scale(2);
  -moz-transform: scale(2);
}

#add7label {
    position: absolute;
    right: 8vw;
    top: 0.9vw;
    font-size: 5vw;
    margin-right: 3vw;
}

#related-chords {
    font-size: 7vw;
    position: absolute;
    top: 0.5rem;
    left: 1rem;
}

#chordsdisplay {
    flex-direction: row;
    justify-content: space-between;
    overflow: scroll;
    height: 60%;
}

#chordsdisplay > div {
    flex-direction: row;
    flex-flow: row ;
    background-color: rgba(0, 0, 0, 0.3);
    display: grid;
    font-size: 6vw;
    grid-template-columns: repeat(7, auto);
    grid-template-rows: repeat(2, auto);
    margin: 0 5% 5% 5%;
    border-radius: 2rem;
    padding: 1rem;
    height: 15vh;  
}

.name {
    grid-column-start: 1;
    grid-column-end: 8;
}

sup.sev1 {
    font-size: 4vw;
    display: none;
}

sup.sev2 {
    font-size: 4vw;
    display: none;
}

sup.sev3 {
    font-size: 4vw;
    display: none;
}

#scales-topheader {
    background-color: rgb(206, 110, 0);
}

/*-----------------PROGRESSIONS----------------*/
#progressions {
    background: rgb(200, 200, 200);
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    height: 100%;
    width: 100%;
    max-height: 64rem;
    max-width: 40rem;
    min-height: 32rem;
    min-width: 20rem;
    text-align: center;
    overflow: hidden;
    /* padding-bottom: 5em; /* space for the menubar */
    display: flex;
    flex-wrap: wrap; 
    flex-direction: column;
    /*position: relative; */  
    justify-content: space-between;
}

.topheader {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    height: 7%;
    width: 100%;
    display: flex;
    justify-content:left;
    font-size: 3.5vh;
}

#progressions-topheader {
    background-color: rgb(28, 88, 112);
}

#menu-topheader {
    background-color: #c5acd6;
}


#bottomheader {
    background:  url('progressions-bottom.svg');
    background-repeat: no-repeat;
    background-position: center top; 
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    height: 12%;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-self: center;
    font-size: 3.5vh;
}

#title {
    margin:1rem;
    margin-top: 0.5vh;
    position: relative;
    color:white;
    text-shadow: none;
    font-size: 5vh;
}

#presetprogressions {
    position: absolute;
    background-color: #482351;
    opacity: 80%;
    z-index: 6;
    height:120%;
    bottom: 10%;
    border-radius: 100%;
    padding: 0.5rem;
    left: 5%;
    width: 30%;
}

#ADD {
    background-color: rgb(52, 152, 165);
    width: 20%;

    position: absolute;
    z-index: 6;
    height:100%;
    bottom: 10%;
    border-radius: 100%;
    padding-top: 2.9vh;
}

#myprogressions {
    background-color: rgb(151, 81, 0);
    position: absolute;
    opacity: 80%;
    z-index: 6;
    height:120%;
    bottom: 10%;
    border-radius: 100%;
    padding: 0.5rem;
    right: 5%;
    width: 30%;
}

#progList {
    overflow-y: auto;
    height: 80%;
}

#proglistelement {
    background-color:rgba(0, 0, 0, 0.3);
    
    margin: 1rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    height: 24%;
    border-radius: 3rem;

    text-align: left;
    font-size: 5vh;
    padding: 2vh;
    
}
